
// @font-face {
//     font-family: 'MyWebFont';
//     src: url('../fonts/fa-brands-400.woff2') format('woff2'),
//          url('../fonts/fa-brands-400.woff') format('woff'),
//          url('../fonts/fa-brands-400.ttf') format('truetype');
//   }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
    body{
    font-family: "Poppins", Helvetica, sans-serif;
    a{
        text-decoration: none;
        color: rgb(36, 36, 36);
    }
    li{
        list-style: none;
    }
    .container{
        width: 80%;
        padding: 0px 15px;
        margin: 0 auto;
    }
    .styled-input{
        background-color: #fff;
        padding: 5px 5px 5px 0;
        border-radius: 5px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;
        width: 625px;
        margin-top: 20px;
        input{
            width: 100%;
            height: 100%;
            border: none;
            padding: 1em;
            border-radius: 0.5em;
            font-family: "Poppins", Helvetica, sans-serif;
        }
        input:enabled{
            border-radius: none;
        }
        button{
            font-family: "Poppins", Helvetica, sans-serif;
            padding: 0 25px;
            height: 50px;
            flex: 0 0 16%;
            max-width: 16%;
            margin-right: -1px;
            border-radius: 3px;
            font-weight: 600;
            background-size: 100%;
            background-image: linear-gradient(to right, #f3723b, #e54750);
            position: relative;
            z-index: 1;
            appearance: none;
            border: none;
            color: #fff;
            text-align: center;
            font-size: 0.875em;
            outline: none;
        }
    }
    .styled-select{
        width: 100%;
        overflow: hidden;
        height: 35px;
        line-height: 32px;
        border: none;
        background-color: #f2f2f2;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #999;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        padding-right: 35px;
        position: relative;
        color: #444;
        cursor: pointer;
        &::after{
            font-family: 'ElegantIcons';
            color: #222;
            position: absolute;
            right: 10px;
            top: 0;
        }
        select{
            background: transparent;
            width: 110%;
            padding-left: 10px;
            border: 0;
            box-shadow: none;
            height: 25px;
            color: #444;
            font-size: 12px;
            font-size: 0.75rem;
            margin: 0;
            font-weight: 500;
            -moz-appearance: window;
            -webkit-appearance: none;
            cursor: pointer;
            outline: none;
        }
    }


    //header styling
    .header{
        font-size: 14px;
        padding:15px 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 35px;
        box-sizing: content-box;
        z-index: 99999;
        
       // border-bottom: 1px solid gray;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            height: 100%;
            
            font-size: 14px;
            
            .logo { 
                flex: 5;
                display: flex;
                height: inherit;
                a {
                    align-self: center;
                    height: inherit;
                    img{
                    height: 100%;
                    
                }}
            }
    
            [class*="menu"]{
                flex:1.5;
                height: inherit;
                align-self: baseline;
                ul{
                    height: inherit;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    li{
                        padding: 5px 0;
                    }
                }
            }
            .user_menu{
                flex: 0.5;
                font-size: 1.5em;
            }
        }
        
    }
    //end header

    //main styling
    .main{
        
        .hero{
            display: flex;
            align-items: center;
            background: #faf3cc url(../img/SVG/hero_5.svg) center top no-repeat;
            height: 620px;
            width: 100%;
            h1{
                font-size: 2.625rem;
                margin: 0;
                font-weight: 600;
                line-height: 1;
            }
            p{
                font-size: 1.75rem;
                font-weight: 300;
                color: #444;
            }
        }
    }
    //end main

    .footer{
        padding-top: 65px;
        position: relative;
        
        .container{
            
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 1fr 100px;
            
            .col{
                h3{
                    font-size: 0.875rem;
                    margin-bottom: 15px;
                    font-weight: 500
                }

                .content{
                    border-radius: 1em;
                    //background-color: rgba(0, 0, 0, 0.103);
                    font-size: 0.875rem;
                    font-weight: 400;
                    font-family: "Poppins", Helvetica, sans-serif;
                    color: #444;
                    .contacts li {
                        padding-left: 35px;
                        position: relative;
                        margin-bottom: 10px;
                        color: #333;
                        i{
                            font-size: 1.125rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: #e54750;
                            line-height: 1;
                        }
                    }
                }
            }
            .last-row{
                grid-column: span 4;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .pay{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 350px;
                    .styled-select{
                        flex: 150px;
                        margin-right: 1em;
                        &::after {
                            content: "\e0e3";
                        }
                    }
                    img{
                        
                        width: 100%;
                    }
                } 
                .info{
                    font-size: 0.8125rem;
                }
            }
        }
        
    }
}
